.main__menu {
  @include main-menu;

}
.full__menu {
  @include desktop {
    display: flex;
    justify-content: space-around;
  }
}
.starter {
 
  @include desktop {
    width: 400px;
  }
}
.dish {
 
  @include desktop {
    width: 400px;
  }
}
.dessert {
  
  @include desktop {
    width: 400px;
  }
}
.cross {
  @include cross;
}
.line {
  width: 40px;
  border: 2px solid $color-tertiary;
  margin-left: 20px;
}
