.restaurant__title {
  font-size: 1.3rem;
  @include tablet {
    width: 100%;
  }
}
.restaurant__title h2 {
  padding: 25px 0px 0px 20px;
font-family: Shrikhand, Roboto, sans-serif;
  @include tablet {
    text-align: center;
  }
}
.card {
  @include card;
  @include tablet {
    width: 40%;
  }
}
.card img {
  @include card-img ;
}
.main__restaurant {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  @include tablet {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
  }
  @include desktop {
    padding: 0 5%;
  }
}
.heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  
}
.card .main-info {
  @include card-figure;
}
.card .info-icons {
  @include card-figcaption;
}
.heart h4 {
  margin: 0;
  font-size: 1.5rem;
}
