.fill {
  color: #363535; 
  cursor: pointer;
  transition: all .25s ease-in-out;
  &:hover {
    animation: fill 0.3s alternate;
    display: inline-block;
    opacity: 1;
    background:linear-gradient(180deg, $color-primary 0%,$color-secondary 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    font-weight: bold;
  }
}
